@media (min-width: 500px) {
  body {
    background: #930;
  }
}

@media (min-width: 700px) {
  body {
    background: #039;
  }
}

@media (min-width: 900px) {
  body {
    background: #888;
  }
}

@media (min-width: 1200px) {
  body {
    background: #888;
  }
}