/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	@include facit;
	background: $base url(/img/tiled_bg.png) 25% 0 repeat;
	text-align: center;
}

.logo {
	background:$emphasis url(/img/logo_151x24.png) no-repeat center;
	background-size: 121px 19px;
	color: $counter;
	display: block;
	height: 81px;
	padding: 1.5em 0;
	text-indent: -999em;
}

.wrapper {
	width: 90%;
	max-width: $wrapper-width;
	margin: 0 auto;
}

.intro {
	background: #ddd url(../img/texture_tile_bottom.png) -25% bottom repeat-x;
	color: #222;
	text-align: center;
	padding: 0 0 1em 0;

	.title {
		background: $flavor;
		color: $counter;

		padding: 1em 0;
		margin-bottom: 1em;

		p {
			font-size: 1em;
		}
		a:link,
		a:visited {
			color: white;
		}
		a:hover,
		a:active,
		a:focus {
			color: darken($flavor, 20%);
		}
	}

	h1 {
		font-size: 2em;
		font-weight: 700;
		line-height: 1em;
		text-transform: uppercase;
		margin: 0 auto;
	}
	
	p {
		font-size: 1.2em;
		margin: 0 0 1em;
		
		&:last-child {
			margin: 0;
		}
	}
}

.content {
	background: white;

	padding: 0 0 1em;
	margin: 0;

	text-align: left;

	& > .wrapper { // styling for content body
		p, ol, ul, a {
			line-height: 1.6;
		}
	}
	ol, ul {
		padding-left: 1.75em;
		margin: -1em 0 2em;
		color: #666;
	}
	li {
		margin-bottom: 0.3em;
	}
	code {
		background-color: #eee;

		color: #666;
		font-family: Monaco;
	}
	code.code-block {
		display: block;
		padding: 1em;
		white-space: pre;
	}
	a {
		@include transition(color .25s);
		color: $flavor;
		text-decoration: underline;
		&:link,
		&:visited {
			color: $flavor;
		}
		&:hover,
		&:active,
		&:focus {
			color: darken($flavor, 20%);
		}

		&.bookmarklet {
			background: #e4e4e4;
			color: #000;
			padding: 2px 9px 2px 22px;
			position: relative;
			text-decoration: none;
		}
		&.bookmarklet:after {
			background: url("/img/bookmarklet-icon.png") no-repeat;
			content: "\00a0";
			padding: 3px;
			position: absolute;
			left: 6px;
			top: -1px;
		}
		&.bookmarklet:hover {
			background: #ccc;
		}
	}
}

.callout {
	margin-top: -4.35em;
	h1 {
		background-color: $emphasis;
		border-radius: 3px;
		color: $flavor;
		display: inline-block;
		font: {
			size: 0.75em;
			weight: 700;
		}
		letter-spacing: 0.2em;
		margin: 0 auto;
		padding: 1em 1.75em;
		position: relative;
		text-transform: uppercase;
		z-index: 0;
		&:before {
			content: "";
			border-bottom: 3.25em solid $emphasis; 
			border-left: 1.3em solid transparent;
			position: absolute;
			left: -1.2em;
			top: -0.08em;
			width: 0;
			height: 0;
		}
		&:after {
			content: "";
			border-bottom: 3.25em solid $emphasis; 
			border-right: 1.3em solid transparent;
			position: absolute;
			right: -1.2em;
			top: -.08em;
			width: 0;
			height: 0;
		}
	}
	h2 {
		background: $counter;
		font: {
			size: 1.25em;
			weight: 400;
		}
		letter-spacing: 0.02em;
		margin: -0.25em auto 0;
		padding: 1em;
		position: relative;
		z-index: 1;
	}
}

footer {
	clear: left;
	font-size: 1.1em;
	margin: 0;
	padding: 1em 0 5em;

	.contact {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display:block;
		}
		a {
			border: 5px solid;
			display: block;
			font: {
				size: 0.75em;
				weight: 600;
			}
			letter-spacing: 0.2em;
			margin: 1.5em auto;
			text-decoration: none;
			text-transform: uppercase;
			outline: none;
			padding: 0.75em;
			width: 80%;
			&:link,
			&:visited {
				border-color: $secondary;
				color: $secondary;
			}
			&:hover,
			&:active,
			&:focus {
				background-color: $secondary;
				border-color: $details;
				color: $base;
			}
		}
	}
}

small {
	color: $secondary;
	display: block;
	font: {
		size: 0.75em;
		weight: 600;
	}
	letter-spacing: 0.05em;
	margin-top: 2em;
	width: 100%;
}
