@media (min-width: 300px) {
  body {
    background: #eee;
  }
}

@media (min-width: 500px) {
  body {
    background: #ddd;
  }
}

@media (min-width: 700px) {
  body {
    background: #ccc;
  }
}

@media (min-width: 900px) {
  body {
    background: #bbb;
  }
}