/* @group Boilerplate */

/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

/*
Colors:
    Blue: #013c4c
    Dark Orange: #ba5b22
    Medium Orange: #db913c
    Light Orange: #f0b650
    Yellow: #fad46b
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul { list-style: none; margin: 0; padding: 0; }
ol { list-style-type: decimal; margin-left: 1.8em; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
/*  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #013C4C; color:#fff; text-shadow: none; }
::selection { background:#013C4C; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* @end */

/* @group Fonts */

@font-face { font-family: Museo; src: url('../fonts/MuseoSans_500.otf'); }
 @font-face { font-family: Josefin; src: url('../fonts/JosefinSansStd-Light.otf'); }
 @font-face { font-family: PrintClearly; src: url('../fonts/PrintClearly.otf'); }
 @font-face { font-family: Daniel; src: url('../fonts/daniel.ttf'); }
 @font-face { font-family: MonoSpaceTypewriter; src: url('../fonts/MonospaceTypewriter.ttf'); }

 @font-face { font-family: District; src: url('../fonts/DistTh__.otf'); }
 @font-face { font-family: Raleway; src: url('../fonts/raleway_thin.otf'); }

/* @end */

/* @group Sitewide */

canvas {
  opacity: .3;
  position: absolute;
  top: 0;
  z-index: -1000;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.aligncenter {
    margin: 10px auto;
    text-align: center;
}

.alignleft {
    float: left;
    margin: 0 10px 10px 0;
    text-align: left;
}

.alignright {
    float: right;
    margin: 0 0 10px 10px;
    text-align: right;
}
 
.icon a {
    display: block;
    height: 50px;
}

body {
    background: #f3f3f3;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

h2 {  
	font-size: 1.3em;
    margin: 20px 0 10px;
}

.inline-list li {
    display: inline;
}
.user-thumb-list-member img {
    -moz-transition: all 0.1s ease-out;  /* FF3.7+ */
    -o-transition: all 0.1s ease-out;  /* Opera 10.5 */
    -webkit-transition: all 0.1s ease-out;  /* Saf3.2+, Chrome */
    width: 25px;
}
.user-thumb-list-member img:hover {
    -moz-transform:scale(2);
    -webkit-transform:scale(2);
    -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
}

.yournamehere {
    background: url('../images/yourNameHere-Arrow.png') no-repeat 120px 0;
    font-family: Daniel;
    font-size: 1.5em;
    padding: 28px 0 10px;
}

/* @group Speech Bubble */

.speech-bubble {
        background: #fff;
        -moz-border-radius: 5px 5px 0 5px; /* FF1+ */
        -webkit-border-radius: 5px 5px 0 5px; /* Saf3+, Chrome */
        border-radius: 5px 5px 0 5px; /* Opera 10.5, IE 9 */
        float: left;
        font-family: PrintClearly;
        margin: 0 10px 50px;
        position: relative;
        width: 47%;
    }
        .speech-bubble:nth-child(2n) {
            clear: left;
        }
        .speech-bubble p {
            color: #444;
            font-size: 2.5em;
            margin: 1em;
            overflow: hidden;
            transition: all 0.3s ease-out;
        }
        .speech-bubble .meta, .speech-bubble .top-meta {
            font-size: 1.5em;
            text-align: right;
        }
            .speech-bubble .meta a, .speech-bubble .top-meta a {
                text-decoration: none;
            }
        
    .speech-bubble .meta:after, .speech-bubble .top-meta:after {
        border-width: 20px 0 20px 20px;
        border-style: solid;
        border-color: #fff transparent transparent;
        bottom: -40px;
        content: "\00a0";
        display: block;
        height: 0;
        position: absolute;
        right: 0;
        width: 0;
    }

/* @end */

/* @end */

/* @group Header */

header {
    margin: 3em 0 4em;
    text-align: center;
}
    header a:hover {
        text-decoration: none;
	}
    header h1 a, header h1 a:visited {
        color: #777;
        font-family: Josefin;
        font-size: 10em;
        letter-spacing: -0.07em;
        line-height: .7em;
        margin: .6em 0 0;
        text-decoration: none;
    }
        header h1 a .char2 {
            margin: 0 0 0 -8px;
        }
        header h1 a .char6 {
            margin: 0 -6px 0 -20px;
        }
    header h1 a:hover {
        color: #607890;
        -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
        -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
        -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    }

/* @group Nav */

header nav {
        height: 52px;
    }

    header ul {
        margin: 0 auto;
    }
    .ie header ul {
        margin-top: 15px;
        width: 270px;
    }
        header li {
            display: inline-block;
            margin: 0 5px;
        }
        .ie header li {
            display: inline;
            float: left;
        }
            header ul a {
                font-family: Josefin;
                text-decoration: none;
            }
            .ie header ul a {
                display: inline;
            }
                header ul div {
                    opacity: 0;
                    -moz-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    -webkit-transition: all 0.3s ease-out;
                }
                .ie header ul div {
                    display: inline;
                }
                header ul .active a div,
                header ul a:hover div {
                    opacity: 1;
                }
                    header ul img {
                        display: block;
                        margin: 0 auto 5px;
                    }
            
            header ul .blog a {
                background: url('../images/icons/rob.png') no-repeat 50% 0;
            }
            .ie7 header ul .blog {
                width: 50px;
            }
            header ul .sparkbox a {
                background: url('../images/icons/sparkbox.png') no-repeat 50% 0;
            }
            .ie7 header ul .sparkbox {
                width: 65px;
            }
            header ul .twitter a {
                background: url('../images/icons/twitter.png') no-repeat 50% 0;
            }
            .ie7 header ul .twitter {
                width: 50px;
            }
            header ul .github a {
                background: url('../images/icons/github.png') no-repeat 50% 0;
            }
            .ie7 header ul .github {
                width: 50px;
            }

/* @end */

/* @end */

/* @group Page Layout */

.container {
  width: 960px;
  margin: 0 auto;
  overflow-x: hidden;
}
		.pages {
			position: relative;
  			width: 4800px;
		}
        .page {
	        float: left;
            position: relative;
            min-height: 500px;
            width: 960px;
        }
        .page.current {
  			display: block;
		}
        section.defered {
   			background: url('/images/empty-page.jpg');
   			height: 500px;
		}
		section.loading {
   			background: url('/images/ajax-loader.gif') no-repeat 50% 50px;
			height: 100px;
		}
        .page:target, .page.single {
            display: block;
        }
            .page > .content {
                float: left;
                -webkit-transition: width 0.3s ease-out;  /* Saf3.2+, Chrome */
				   -moz-transition: width 0.3s ease-out;  /* FF4+ */
			         -o-transition: width 0.3s ease-out;  /* Opera 10.5+ */
			 	        transition: width 0.3s ease-out;
                width: 780px;
            }
            .page.no-sidebar > .content {
                width: 960px;
            }
                .page > h1 {
                    background: #555;
                    color: #fff;
                    font-family: Museo;
                    font-size: 2em;
                    margin-bottom: 1em;
                    padding: .2em;
                }
                .page > h1 a, .page > h1 a:visited {
                    color: #fff;
                }
                .page > p {
                    margin-right: 20px;
                }
        
            .page > aside {
                float: left;
                position: relative;
                width: 180px;
            }       
            .page > aside > ul > li {
                margin: 15px;        
            }
            .page > aside > ul:first-of-type > li {
                margin: 0 0 15px 0;        
            }

/* @end */

/* @group Blog */

/* @group Aside */

.follow-me {
        background: #013c4c;
        border: none;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: #fad46b;
        padding: 10px;
    }
    .follow-me:active {
        -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.9);
        box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.9);
        color: #eac151;
        padding: 11px 10px 9px;
    }
    
    .keyboard-directions {
        font-family: Daniel;
        font-size: 1.1em;
    }
        .keyboard-directions img {
            margin: 10px 0 0 40px;
            position: relative;
        }

/* @end */

.back-link {
  display: none;
  position: absolute;
  top: -10px;
}

.blog-meta {
  position: absolute;
  right: 0;
  top: 6px;
}
.search-form {
  float: left;
  margin-right: 45px;
  padding-top: 6px;
}
.search-form input {
  float: left;
  margin-right: 5px;
}
h2.search-results {
  font-size: 1em;
  line-height: 1.8em;
  margin: 0 200px 25px 0;
}
h2.search-results .count {
  background: #787878;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 3px 7px;
}

.feed {
  background: url('/images/icons/rss.gif') no-repeat;
  display: block;
  height: 30px;
  position: absolute;
  right: 10px;
  text-indent: -99999px;
  width: 30px;
}

.content {
  position: relative;
}
.content .post-listings {
  xposition: relative;
  xtop: 20px;
  -webkit-transition: top 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: top 0.3s ease-out;  /* FF4+ */
       -o-transition: top 0.3s ease-out;  /* Opera 10.5+ */
          transition: top 0.3s ease-out;
}

.blog article {
  margin: 15px 60px 25px 0;
  position: relative;
}
            
    .blog > section article {
        margin: 0 4em 4em 0;
    }
    
    time {
        background: #013c4c;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        display: block;
        float: left;
        margin: 0 1em 1em 0;
        padding: 0.2em 0 0.2em 1.8em;
        position: relative;
        width: 3.9em;
    }   
        time .day {
            color: #ccc;
            font-size: 3em;
            font-weight: bold;
            line-height: 1em;
            margin: 0;
        }
        /*    time .day .char1 {
                        font-size: 4.5em;
                        line-height: 1em;
                    }
                    time .day .char2 {
                        font-size: 2em;
                        position: relative;
                        right: -0.15em;
                        top: -0.9em;
                    }   */
        time .month {
            color: #fff;
            font-size: 1.3em;
            font-weight: bold;
            left: .14em;
            position: absolute;
            right: 0;
            top: 2.15em;        
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -moz-transform-origin: left top;
            -webkit-transform-origin: left top;
            transform-origin: left top;
        }
        .ie time .month {
            font-size: 1em;
        }
        
        article .post-icon {
  			float: left;
  			margin: 0 5px 0 0;
		}
    
        .blog-excerpt h1 a {
            font-size: 1.5em;
        }
        
        .blog-excerpt .post-meta {
            margin: 0 0 1.4em;
        }
            .blog-excerpt .post-meta li {
                font-size: .9em;
            }

        .blog-excerpt p {
			font-size: 1em;
			margin-bottom: 0.8em;
			padding-left: 6.7em;
        }

/* @group Code Formatting */

.codeWrapper {
        background: #f0b650;
        -moz-border-radius: 5px; /* FF1+ */
        -webkit-border-radius: 5px; /* Saf3+, Chrome */
        border-radius: 5px; /* Opera 10.5, IE 9 */
        color: #013c4c;
        margin: 1em 0 1em 5.8em;
    }
        .codeWrapper, .codeWrapper * {
            font-family: MonoSpaceTypewriter;
        }
        
        .speech-bubble pre.prettyprint {
            background: #CCC;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            color: #222;
            max-width: 620px;
        }
            .prettyprint ol.linenums {
                color: #777;
            }
                pre.prettyprint .linenums li {
                    border-color: #777;
                }

/* @end */

/* @end */

/* @group Twitter */

.twitter.speech-bubble {
        background: #53d4ff;
    }
    .twitter.speech-bubble .meta:after {
        border-color: #53d4ff transparent transparent;
    }

.followers-list li {
    display: inline;
    margin: 0 5px 5px 0;
}

/* @end */

/* @group Github */

.content-wrapper {
  padding-right: 40px;  
}
.item-list {
	background: #e8e8e8;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */
    float: left;
  	margin-bottom: 20px;
    width: 740px;
}
    .item-list li a {
	    display: block;
        min-height: 32px;
        padding: 10px;
    }
        .item-list li:nth-child(2n-1) {
            background: #ccc;
            -moz-border-radius: 5px; /* FF1+ */
            -webkit-border-radius: 5px; /* Saf3+, Chrome */
            border-radius: 5px; /* Opera 10.5, IE 9 */
        }
        
    .item-list.watching li {
        float: left;
        width: 33.33%;
    }
    	.item-list.watching li:nth-child(3n-1) {
			margin-right: 0;
		}

/* @end */


@media all and (max-width: 1024px) {
    .container, .page {
        width: 740px;
    }

    .page > .content {
        width: 560px;
    }

    .speech-bubble {
        width: auto;
    }

    .item-list {
        width: 100%;
    }
    
        .item-list.watching li {
			width: 50%;
        }
        .item-list li:nth-child(2n-1) {
            background: inherit;
        }
        .item-list li:nth-child(4n-1),
        .item-list li:nth-child(4n-2) {
            background: #ccc;
            -moz-border-radius: 5px; /* FF1+ */
            -webkit-border-radius: 5px; /* Saf3+, Chrome */
            border-radius: 5px; /* Opera 10.5, IE 9 */
        }
    
    .blog-excerpt p {
        padding: 0;
    }
    
    .codeWrapper {
        margin-left: 0;
    }
}

@media all and (max-width: 768px) {
    .container, .page {
      width: 480px;
    }

	.blog article {
	  margin: 15px 200px 25px 0;
	  position: relative;
	}

	.page .content {
      width: 100%;
	}
    .page img {
   	   max-width: 260px;
  	}
	
	.content-wrapper {
  	  padding-right: 200px;  
    }
	.page > aside {
	  position: absolute;
      right: 0;
	}
	
	.speech-bubble {
      margin-right: 200px;
    }
    .speech-bubble p {
	  font-size: 1.4em;
	  margin-right: 1em;
	}

/* @group Github */

.item-list.watching li {
    float: left;
    margin-right: 0;
    min-height: 0;
    width: 100%;
}
.item-list li:nth-child(2n-1) {
    background: #ccc;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */
}
.item-list li:nth-child(4n-2) {
    background: #e8e8e8;
}

/* @end */
}


@media all and (max-width: 480px) {

  .container, .page, aside {
    width: 480px;
  }
  h2.search-results {
  	margin: 0 20px 25px 0;
  }
  .blog article {
    margin: 15px 0 25px 0;
	position: relative;
  }
  
  .content-wrapper {
  	padding-right: 0;  
  }
  
  .page > .content {
  	margin: 0 10px;
    position: relative;
    width: 95%;
  }
  .content p {
  	margin-right: 10px;
  }
  .page > aside {
	border-top: 20px solid #555;
    position: relative;
    width: 100%;
  }
  .page > aside ul {
    margin: 20px 10px;
  }
  .page img {
    max-width: 90%;
  }
  
  .yournamehere {
    background-position: 280px 0;
  }
  
  	.speech-bubble {
      margin-right: 5px;
      width: 95%;
    }
}

@media all and (max-width: 320px) {
  .container, .page, aside {
    width: 320px;
  }
  .page > .content {
  	margin: 0 10px;
    position: relative;
    width: 300px;
  }
  .page > aside {
    position: relative;
    width: 320px;
  }
  .page > aside ul {
    margin: 20px 10px;
  }
  .page img {
    max-width: 300px;
  }

/* @group Twitter */

  .speech-bubble {
	margin-left: 0;
    width: 300px;
  }

/* @end */

/* @group Github */

  .item-list {
	margin: 20px 0;
    width: 300px;
  }

/* @end */
  
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

