/* always visible styles */
.selectbox{display:inline-block;*display:inline;background: #fff;
border: none;
margin-top: 5px;
width: 100% !important;
}
.selectbox .display{
  color:#000;
  cursor:default;
  display:block;
  height:19px;
  line-height:19px;
  padding: 10px 50px 10px 10px;
  overflow:hidden;
  position:relative;
  text-decoration:none;
}
.selectbox .text {
     color: #666;
     font-size: .7em;
     font-weight: bold;
     text-transform: uppercase;
}
.selectbox.disabled .display{color:#999;}
.selectbox.open .display .arrow_btn .arrow{background:url(../i/dropdown-arrow.gif) center center no-repeat;}
.selectbox .display .arrow_btn{background:url(../i/dropdown-arrow.gif) top left no-repeat;display:block;height:100%;position:absolute;right:0;top:0;width:40px; cursor:pointer;}
.selectbox .display .arrow_btn .interior{display:block;height:100%;}
.selectbox .display .arrow_btn .arrow{background:transparent url(../i/dropdown-arrow.gif) no-repeat center center;display:block;height:100%;}
.selectbox .value{display:none;}

/* dropdown styles */
.items{
  background-color:#fff;
  border:none;
  display:block;
  font-size:.7em;
  text-transform: uppercase;
  list-style-type:none;
  margin:0;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0 0 1px 0;
  z-index:99999;
  /*width: 280px;*/
  -moz-box-shadow:0 3px 5px rgba(0,0,0,.5);
  -webkit-box-shadow:0 3px 5px rgba(0,0,0,.5);
}
.items.above{}
.items li{display:block;margin:0;padding:0;/*white-space:nowrap; maybe necessary if using fixedWidth: false */}
.items li:first-child{margin-top:0;}
.items li>a{color:#666;cursor:pointer;display:block;padding:5px 10px 5px 10px;text-decoration:none;}
.items li.selected a{border-bottom:1px dotted #999;border-top:1px dotted #999;}
.items li.disabled a{color:#999;}
.items li.hover>a{background-color:#13a89e;color:#fff;}
.items .value{display:none;}

/* optgroup styles */
.items .optgroup .items{
  border:none;
  margin:0;
  padding:0;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.items .optgroup>.label{font-weight:bold;line-height:1em;}
.items .optgroup .items li>a{padding-left:1em;}

/* easy rounding styles */
.round_sb.display{
  padding:3px 27px 3px 6px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.round_sb.display .arrow_btn{
  right:3px;
  top:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.round_sb.items{
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}
.round_sb.items>li>a{padding:4px 6px;}
.round_sb.items>li.first>a{
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
}
.round_sb.items>li.last>a{
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}
/* for optgroups */
.round_sb.items>li>.label{line-height:27px;padding:4px 6px;}
.round_sb.items>li>.items li>a{padding:4px 6px 4px 12px;}