#sb-mediaQueryBookmarklet {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: white;
  /*background: #fff;*/
  background: rgba(40, 40, 40, 0.9);
  border: 1px solid rgba(10, 10, 10, 0.9);
  /*font-weight: bold;*/
  /*opacity: .9;*/
  padding: 18px 24px;
  width: 70%;
  max-width: 320px;
  position: fixed;
  border-radius: 4px;
  right: 1em;
  top: 1em;
  z-index: 99999;
}
#sb-mediaQueryBookmarklet button {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.current-size--width {
}

#sb-mediaQueryBookmarklet.onLeft {
  left: 10px;
  right: auto;
}

#mqb-dimensions {
  font-size: 40px;
  font-weight: 100;
}

.mqb--display-width,
.mqb--display-height {
  position: relative;
  padding-left: 40px;
}

.mqb--display-height {
  margin-top: 8px;
}

.mqb--display-width:before,
.mqb--display-height:before {
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
}

.mqb--display-width:before {
  content: "\2194";
  border-right: 1px dotted #ccc;
  border-left: 1px dotted #ccc;
  padding-top: 2px;
}

.mqb--display-height:before {
  content: "\2195";
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  padding-top: 2px;
}

#mqb-mousePosition {
  font-size: 25px;
  font-weight: 300;
  color: #bbb;
  border-bottom: 1px dotted #bbb;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

#mqb-mousePosition strong {
  font-weight: 400;
  color: #888;
  display: inline-block;
  margin-right: 4px;
}

#mqb-mousePosition strong:first-of-type {
  margin-left: 0;
}


#mqb-mousePosition span + strong {
  margin-left: 16px;
}

#mqb-queries {
  float: right;
  font-size: 16px;
  list-style: none;
  padding: 0.5em;
  margin: 0;
  border: 1px solid black;
  background: rgba(0,0,0,0.8);
  text-transform: lowercase;
  height: 70px;
  width: 50%;
  overflow: auto;
  box-sizing: border-box;
}

.mqb-query-items {
  font-size: 12px;
  color: white;
}

.mqb-query-items + .mqb-query-items {
  margin-top: 4px;
}

#mqb-linksContainer {
  /*font-size: 10px;
  margin-top: 10px;
  text-align: right;*/
  float: left;
  width: 50%;
}

#mqb-version {
  display: none;
  /*color: #444;
  float: right;
  text-transform: lowercase;*/
}

.mqb--settings-option {
  position: relative;
  cursor: pointer;
  display: block;
}

.mqb--settings-option + .mqb--settings-option {
  margin-top: 8px;
}

.mqb--settings-checkbox {
  visibility: hidden;
  position: absolute;
  right: 0;
  z-index: 0;
  text-align: right;
}

.mqb--settings-label {
  color: #aaa;
  display: inline-block;
  vertical-align: 65%;
  font-size: 10px;
  text-transform: uppercase;
  height: 20px;
  padding-right: 10px;
}

.mqb--settings-switch {
  display: inline-block;
  border-radius: 20px;
/*  background-image: linear-gradient(180deg, #111, #333);
*/  background-color: #111;
  height: 20px;
  width: 40px;
  position: relative;
  overflow: hidden;
  /*box-shadow: 0 0 0 2px rgba(200,200,200,0.3);*/
  border: 1px solid black;
}

.mqb--settings-switch:before {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #ccc;
  z-index: 2;
  transition: left 90ms linear;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.3) inset, 0 1px rgba(255,255,255,0.3) inset, 0 0 0 1px black;*/
  box-shadow: 0 0 0 1px black;
}

.mqb--settings-switch:after {
  content: '';
  display: block;
  height: 20px;
  left: 0;
  right: 30px;
  position: absolute;
  /*background-image: linear-gradient(180deg, #03b, #06b);*/
  background-color: #06b;
  z-index: 1;
  transition: right 90ms linear;
  border-radius: 30px 0 0 30px;
  /*box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset, 0 0 15px #03b inset;*/
}

.mqb--settings-checkbox:checked + .mqb--settings-switch:before {
  left: 20px;
}

.mqb--settings-checkbox:checked + .mqb--settings-switch:after {
  right: 10px;
}


#mqb-closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 0 none;
  text-indent: -9999px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#mqb-closeButton:before {
  color: #bbb;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: 0;
  content: '\00D7';
  font-weight: 100;
  font-size: 40px;
  line-height: 0.75;
}

#mqb-closeButton:hover:before {
  color: white;
  background: rgb(40, 40, 40);
}

#mqb-closeButton:active:before,
#mqb-closeButton:focus:before {
  color: white;
  background: rgb(10, 10, 10);
}

#mqb-closeButton:focus {
  outline: #0bb;
}

#mqb-positionButton {
  -webkit-appearance: none;
  border: none;
  clear: right;
  color: #444;
  cursor: pointer;
  background: url(/images/left.png) no-repeat 50%;
  display: block;
  float: right;
  height: 15px;
  width: 44px;
}
.onLeft #mqb-positionButton {
  background-image: url(/images/right.png);
}

#mqb-emTest {
  height: 0;
  width: 16px;
}

#mqb-mouseXPosition,
#mqb-mouseYPosition {
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.7);
}

#mqb-mouseXPosition {
  display: block;
  height: 20px;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: 99999;
}
#mqb-mouseYPosition {
  display: block;
  height: 1px;
  position: fixed;
  left: 0;
  width: 20px;
  z-index: 100000;
}

#mqb-horz-ruler {
  background: transparent url(/images/ruler.svg) repeat-x;
  height: 10px;
  position: fixed;
  top: 0;
  left: 10px;
  width: 100%;
  border-bottom: 1px solid #222;
}

#mqb-horz-ruler:before {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  background: #222;
  position: absolute;
  left: -10px;
}

#mqb-vert-ruler {
  background: transparent url(/images/vert-ruler.svg) repeat-y;
  height: 100%;
  position: fixed;
  left: 0;
  top: 10px;
  width: 10px;
  border-right: 1px solid #222;
}