body {
  -webkit-transition: background 500ms ease-in-out;
}

@media (min-width: 500px) {
  body {
    background: #06b;
  }
}

@media (min-width: 700px) {
  body {
    background: #088;
  }
}

@media (min-width: 900px) {
  body {
    background: #0b6;
  }
}

@media (min-width: 1100px) {
  body {
    background: #0bb;
  }
}

@media (min-width: 1300px) {
  body {
    background: #0d9;
  }
}

@media (min-width: 1500px) {
  body {
    background: #066;
  }
}